---
layout: default
title: Oops! There's nothing here.
permalink: 404.html
eleventyExcludeFromCollections: true
---

<section class="my-auto">
  <div class="mx-auto text-center flow">
    <h1 class="font-black">{{ title }}</h1>
    <p class="mt-10">
      Let's go back to the <a href="{{ "/" | url }}">homepage</a>.
    </p>
  </div>
</section>