---
layout: default
title: Home
description: "Eleventy + Tailwind CSS blog starter"
---

<section class="my-auto">
  <div class="mx-auto measure fade-in-down">
    <p class="font-semibold uppercase text-primary">Hello, I'm a blog starter!</p>
    <h1 class="mt-6">I'm built with Eleventy and Tailwind CSS.</h1>
    <h2 class="mt-6 font-sans text-2xl font-light">I also use CSS Variables and have an optional dark mode to preserve
      your eyes 😉
    </h2>
  </div>
</section>