---
layout: default
title: Legal
description: "Legal information"
---

<section class="my-auto">
  <div class="mx-auto flow">
    <h2>Data handling</h2>
    <p>This website does not collect any personal data. It does not set any cookies and it does not use any
      third-party tracking scripts. No user analytics or other metrics are processed during your visit, and the
      server does not write any log files, which means your IP address is not stored anywhere.</p>

    <p>Basically, it’s just a free piece of content, no strings attached.</p>

    <h2>Secure Data Transfer</h2>

    <p>This website transmits itself using HTTPS, encrypting all data between the browser and the server. Your
      network provider may still be able to see that you are loading files from this site, but not their content.
      This also protects you from third parties intercepting data e.g. while browsing on public WiFi, or network
      providers injecting ads into this site.</p>

    <h2>Content Ownership</h2>
    <p class="font-semibold">{{ site.author.name }}</p>
    <p>Contact me at <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></p>
  </div>
</section>